*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

.title-destaque-descricao a{
    text-decoration: none;
    color: white;
}

header{
    padding: 8px 0;
    background-color: #0aacdc;
}

.center{
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 2%;
    display: flex;
    flex-wrap: wrap;
}

.logo{
    text-align: left;
    width: 50%;
}

.logo h2{
    color: white;
}

.form-busca{
    margin-top: 5px;
    width: 50%;
    text-align: right;
}

.form-busca{
    display: inline-block;
    max-width: 100%;
    position: relative;
}

.form-busca i {
    position: relative;
    left: 10px;
    top: 7px;
    color: white;
    font-size: 20px;
}

.form-busca input{
    height: 40px;
    width: 50%;
    border: 0;
    font-size: 20px;
    color: white;
    background-color: #77c1d8;
    padding-left: 40px;
    border-radius: 10px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: white;
  }

  section.noticia-destaque{
      padding:40px 0;
  }

  section.noticia-destaque > .center{
      max-width: 960px;
  }

  /*Add sobre navegador - serve para melhorar a performance ao carregar fontes externas*/


  /*IMG center*/
.img-destaque{
    width:100%;
    position: relative;
}

.img-destaque img{
    width: 100%;
    border-radius: 20px;
}

.title-destaque-descricao{
    position: absolute;
    bottom: 0;
    left: 10px;
    top: 350px;
    padding: 10px;
    max-width: 70%;
    color: white;
    z-index: 2;
}

.overlay-destaque{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
}

/*Footer*/
footer{
    background-color: #0aacdc;
    padding: 10px 0;
    text-align: center;
    color: white;
    margin-top: 170%;
    display: block;

}